.top {
    align-items: center;
}

.header {
    clear: both;
    margin-top: 10px;
    border: 2px solid rgb(207, 203, 203);
    border-radius: 10px;
    padding: 5px 0;
    font-size: 20px;
}

.row {
    margin-top: 20px;
}

.item, .date, .total, .category {
    border-right: 2px solid rgb(207, 203, 203);
    text-align: center;
}

.has-danger {
    color: red;
}