<div class='container'>
  <div class='row top'>
    <div class='title col-md-3'>
      <h1>Purchases</h1>
    </div>
    <div class='col-md-5'>
      <button type="button" class="btn btn-primary" (click)="open(content)">New Purchase</button>
    </div>
    <div class='calendar col-md-4'>
      <app-day-calendar></app-day-calendar>
    </div>
  </div>
  <div class='row header'>
    <div class='item col-lg-3'>Item</div>
    <div class='date col-lg-2'>Date</div>
    <div class='total col-lg-3'>Total</div>
    <div class='category col-lg-3'>Category</div>
    <div class='col-lg-1'></div>
  </div>
  <div *ngFor="let purchase of purchases" class='row content'>
    <div class='col-lg-3'>{{purchase.name}}</div>
    <div class='col-lg-2'>{{purchase.date}}</div>
    <div class='col-lg-3'>{{purchase.total}}</div>
    <div class='col-lg-3'>{{purchase.category.name}}</div>
    <div class='col-lg-1'>
      <!-- <i class="fa fa-lg fa-edit update float-left" (click)="open(patchModal, entry)"></i> -->
      <i class="fa fa-lg fa-times-circle delete float-right" (click)='deletePurchase(purchase.id)'></i>
    </div>
  </div>
</div>

<ng-template #content let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Enter New Purchase</h4>
    <button type="button" class="close" aria-label="Close" (click)="c()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="purchaseform" (ngSubmit)="onNewPurchase()">
      <div class='form-group' [ngClass]="{
          'has-danger': name.invalid && (name.dirty || name.touched),
          'has-success': name.valid && (name.dirty || name.touched)
        }">
        <label>Purchase Name</label>
        <input type='text' class='form-control' formControlName='name' placeholder='Enter Purchase Name' required>
        <div *ngIf="name.errors && (name.dirty || name.touched)">
          <p *ngIf="name.errors.required">Purchase name is required</p>
        </div>
      </div>
      <div class='form-group'>
        <label>Purchase Total</label>
        <input type='number' class='form-control' formControlName='total' placeholder='Enter Purchase Total'>
      </div>
      <div class='form-group'>
        <label>Purchase Date</label>
        <input type='date' class='form-control' formControlName='date' placeholder='Purchase Date'>
      </div>
      <div class='form-group'>
        <label>Budget Category</label>
        <select class='form-control' formControlName='category'>
          <option *ngFor="let category of budgetCategories" [value]=category.id>
            {{category.name}}
          </option>
        </select>
      </div>
      <div class="modal-footer">
        <input type='submit' class='btn btn-primary' value='Submit'>
        <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
      </div>
    </form>
  </div>

</ng-template>