<ng-template #changePasswordModal let-c="close">
    <div class="modal-header">
      <h4 class="modal-title">Change Password</h4>
      <button type="button" class="close" aria-label="Close" (click)="c()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #formRef="ngForm" class="form-changePassword" (ngSubmit)='onChangePassword(formRef, formRef.value)'>
        <div class='form-group'>
          <label for="inputOldPassword">Password</label>
          <input type="password"
                 name="oldPassword"
                 id="inputOldPassword"
                 class="form-control"
                 placeholder="Your Current Password"
                 [(ngModel)]="oldPassword"
                 #oldPasswordRef="ngModel"
                 required autofocus>         
        </div>
        <div class='form-group'>
            <label for="inputNewPassword1">Password</label>
            <input type="password"
                   name="newPassword"
                   id="inputNewPassword1"
                   class="form-control"
                   placeholder="Your New Password"
                   [(ngModel)]="newPassword1"
                   #newPasswordRef="ngModel"
                   required autofocus>       
        </div>
        <div class='form-group'>
            <label for="inputNewPassword2">Password</label>
            <input type="password"
                   name="newPasswordConfirmation"
                   id="inputNewPassword2"
                   class="form-control"
                   placeholder="Confirm Your New Password"
                   [(ngModel)]="newPasswordConfirmation"
                   #newPasswordRef="ngModel"
                   required autofocus>
        </div>
        <div class="modal-footer">
          <input type='submit' class='btn btn-primary' value='Submit'>                    
          <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
        </div>
      </form>
    </div>
  </ng-template>

