<div class='row'>
  <div class='col-lg-2'></div>
  <div class='col-lg-8'>
    <h2>Welcome!</h2>
    <p>Thanks for visiting my budget app. The point of this project was to develop an app that could track a user's spending
      and budget habits, and allow me to practice Angular 2 and Ruby on Rails in the process.
    </p>
    <h4>How It Works</h4>
    <p>The functionality of the site is user-specific, so you need to log in to get access to the features. Once logged in,
      you can populate the budget page with your specific budget categories and amounts, and then add purchases and categorize
      them into your newly created budget categories. As you enter purchases, your budget categories will update with total
      percentage of budget spent for each category.
    </p>
    <p>If you are a potential employer who just wants to see how it works, feel free to use my default login:</p>
    <p>
      <strong>email:</strong>
      <em>123@gmail.com</em>
      <strong>password:</strong>
      <em>123</em>
    </p>
  </div>
  <div class='col-lg-2'></div>
</div>